.Background{
  background-color: gray;
  text-align: center;
}

.Reader{
  background-color: gray;
  color: lightblue;
  text-align: center;
}

#inputs{
  text-align: center;
  width: 500px;
}

#input{
  border-color:  black;
  background-color: greenyellow;
  border-radius: 5px;
}

form { 
  margin: 0 auto; 
  width:250px;
  }

#black{
 color: black; 
}
#backColor{
  color: greenyellow;
  background-color: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
